body {
    background-color:#fffde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: 1000;
    color: green;
    font-size: 70px;
    text-align: center;
    border: 10px dotted rgb(11, 187, 64);
    margin: 60px 300px;
    padding: 30px;
    background-color: aliceblue;
}

.image {
    width: 1060px;
    margin: 0 auto;
    border: 15px dashed rgb(255, 255, 255);
}

img {
    height: 263px;
    width: auto;
}

h2 {
    background-color: rgb(30, 207, 30);
    color: #ffffff;
}

.dot {
    color: rgb(30, 207, 30);
}